@model LibData.ImportDetail
@{
    Layout = null;
}
<form id="form-addimportdetail"  >
    <div class="modal-header">
        <h6 class="modal-title">Sản phẩm nhập hàng</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
    <div>
    </div>
        <div class="form-group">
            <div class="row">
                <input type="hidden" id="selectedProductImg" value="@Model.Warehouse.ProductImgId" />
                <div class="col-6">
                    <label>Sản phẩm<span class="text-danger">*</span></label>
                    <select class="form-control chosen-select" name="Warehouse.ProductImgId" id="productimgid" onchange='SelectSize()'>
                        @foreach (var item in ViewBag.ProductImg as List<LibData.ProductImg>)
                        {
                            int a = 0;
                            if (item.Warehouses != null)
                            {
                                a = item.Warehouses.Sum(x => x.Amount.Value);
                            }
                            <option value="@item.Id" @(item.Id == Model.Warehouse.ProductImgId ? "selected" : "")>@item.Product.Name - @item.Color : @a </option>
                        }
                    </select>
                </div>
                <input type="hidden" id="selectedSize" value="@Model.Warehouse.SizeId" />
                <div class="col-6" id="size-select">
                    <label>Kích cỡ<span class="text-danger">*</span></label>
                    <select class="form-control chosen-select" name="Warehouse.SizeId" id="SizeId">
                        <option disabled value="">Chọn sản phẩm</option>
                        @*@foreach (var item in ViewBag.Size as List<LibData.Size>)
                {
                    <option value="@item.Id" @(item.Id == Model.Warehouse.SizeId ? "selected" : "")> VN : @item.VN - US : @item.US - UK : @item.UK</option>
                }*@

                    </select>
                </div>
            </div>

        </div>
       
        <div class="form-group">

            <label>Số lượng<span class="text-danger">*</span></label>
            <input type="number" class="form-control" name="Amount" min="1" id="Amount" value="@Model.Amount" />
            @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label>Giá<span class="text-danger">*</span></label>
            <input type="number" class="form-control" name="Price" min="10000" id="Price" value="@Model.Price" />
            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
        </div>
        @Html.ValidationMessage("error", new { @class = "text-danger" })
        <div class="modal-footer">
            <button type="button" onclick="sumbitImportDetail()" class="btn btn-primary">Lưu</button>
            <button type="button" data-dismiss="modal" class="btn btn-light">Đóng</button>
        </div>
    </div><!-- modal-body -->
    <script>
     
        $(".chosen-select").chosen()
        SelectSize();
        async function SelectSize() {
            loading(true)
            var list = "";
            var productimgid = $("#productimgid").val()
            try {
                $("." + productimgid).each(function () {
                    list += $(this).val() + ",";
                });
            } catch (e) {
                list = "";
            }
            var productimgid = $("#productimgid").val()
            console.log($("#form-addimportdetail #selectedSize").val());
            if ($("#selectedProductImg").val() != $("#productimgid").val()) {
                await $("#size-select").load("/Admin/Extend/SelectSize?productimgid=" + productimgid + "&list=" + list)}
            else {
                await $("#size-select").load("/Admin/Extend/SelectSize?productimgid=" + productimgid + "&list=" + list + "&selecteds=" + $("#form-addimportdetail #selectedSize").val())
            }
            loading(false)  
    }
        //$("#WarehouseId").select2();
        function sumbitImportDetail() {
            var productimgid = $("#productimgid").val()
            loading(true)
            var list = "";
            try {
                $("." + productimgid).each(function () {
                    list += $(this).val() + ",";
                });
            } catch (e) {
                list = "";
            }
            var $form = $("#form-addimportdetail");
            $.ajax({
                type: "POST",
                url: "/Admin/ImportDetail/AddImportDetail",
                data: $form.serialize() + "&list=" + list,
                success: async function (data, status, xhr) {
                    loading(false)
                    var statusCode = xhr.getResponseHeader("statusCode");
                    if (statusCode == '401') {
                        window.location.replace("/admin/login");
                    }
                    if (xhr.status == 201) {
                        /*        loadListImportUnit()*/

                        $("#modal-form-md").modal("hide");
                        $("#list-product").prepend(data)
                        UpdateImport();
                        //Swal.fire({
                        //    icon: 'success',
                        //    title: 'Thêm vào sản phẩm thành công',
                        //    showConfirmButton: false,
                        //    timer: 1500
                        //})
                    } else {
                        await $("#form-addimportdetail").html($(data).filter("#form-addimportdetail").html());
                    }
                },
            });
        }
    </script>
</form>