@model LibData.Product
<style>
    .img-active.active {
        border: 2px solid #28a745 !important;
    }
</style>
<div class="container">
    <h1 class="my-4">Chi tiết sản phẩm<br></h1>
    <div class="row">
        <div class="col-md-8">
            <div class="">
                <div class="swiper-container" style="width:400px;height:400px">
                    <div class="swiper-wrapper" style="width:400px;height:400px">
                        <div class="swiper-slide img-thumbnail" style="background: url(/Images/Products/@Model.AvatarUrl) center center / 400px no-repeat; width: 400px;"></div>
                        @foreach (var item in Model.ProductImgs)
                        {
                            <div class="swiper-slide img-thumbnail" style="background: url(/Images/Products/@item.Url) center center / 400px no-repeat; width: 400px; "></div>
                        }

                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">

            <h3 class="my-3">@Model.Name </h3>
            @if (Model.BrandId.HasValue)
            {
                <div>
                    Thương hiệu : @Model.Brand.Name
                </div>}
            @if (Model.Type == (int)LibData.Configuration.ProductConfig.Type.MALE)
            {
                <div>
                    Giày nam
                </div>}
            @if (Model.Type == (int)LibData.Configuration.ProductConfig.Type.FEMALE)
            {<div>
                   Giày nữ
                </div>}
        <div class="price">
            Giá :   @string.Format("{0:#,0}", (Math.Ceiling(Convert.ToDouble(Model.Price.Value / 1000 * (100-Model.Discount.Value) / 100)) * 1000)) VNĐ
            @if (Model.Discount > 0)
            {
                <span>@Model.Price</span>}
        </div>
            <div>
                Màu sắc :
            </div>

            <div class="row">

                @foreach (var item in Model.ProductImgs.Where(x => (x.IsDelete == 0 || x.IsDelete == null) && x.Warehouses.Count(m => (m.IsDelete == 0 || m.IsDelete == null)) > 0 && x.Warehouses.Sum(m => m.Amount) > 0))
                {
                    <div class="col-3">
                        <a style="width:150px;height:150px">
                            <img src="/Images/Products/@item.Url" onclick="SelectWarehoue(@item.Id)" class=" img-active img-thumbnail" alt="@item.Color" title="@item.Color" />
                        </a>
                    </div>}

            </div>
            <div>
                Kích cỡ :
            </div>
            <div class="row">
                <div class="col-12">
                    <select class="form-control block WarehouseId" disabled name="WarehouseId" id="WarehouseId">
                        <option>Vui lòng chọn màu sắc của giày</option>
                        @*@foreach (var item in Model.ProductImgs.First().Warehouses)
                                                    {
                                        <option value="@item.Id" @(item.Amount < 1 ? "disabled" : "")>VN : @item.Size.VN - US : @item.Size.US - UK : @item.Size.UK</option>
                            }*@
                    </select>
                </div>
            </div>
            <div class=" row mt-3 justify-content-center">
                <div class="col-12 text center-block  pb-2">
                    <button id="" onclick="BuyProduct()" disabled class="btn btn-success rounded-pill btn-disabled">
                        Mua ngay
                    </button>
                </div>
                <div class="col-12 text center-block">
                    <button id="" type="button" onclick="AddCart()" disabled class="btn btn-outline-success rounded-pill btn-disabled">
                        Thêm vào giỏ
                    </button>
                </div>
            </div>

        </div>
    </div>
    <div class="row  mt-4" style=" border:1px solid whitesmoke">
        <div class="col-12">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item" role="presentation"><a class="nav-link active" role="tab" data-toggle="tab" href="#tab-1"><h3 class="my-3">Mô tả sản phẩm</h3></a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-2"><h3 class="my-3">Hướng dẫn chọn cỡ</h3></a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active row" role="tabpanel" id="tab-1">
                    <div class="col-12" style="max-height: 550px; overflow: auto; ">
                        @Html.Raw(Model.Describe)
                    </div>
                </div>
                <div class="tab-pane" role="tabpanel" id="tab-2">
                    <div class="col-12" style="max-height: 550px; overflow: auto; ">
                        <img src="~/assets/img/6b750f75e5f602a85be7-1.jpg" style="width:100%" />
                    </div>
                </div>
            </div>
            @*<h3 class="my-3">Mô tả sản phẩm</h3>
                <div class="row" style="max-height:400px;overflow:auto;border:1px solid">
                    <div class="col">
                        @Html.Raw(Model.Describe)
                    </div>

                </div>*@
        </div>
    </div>
    <div class="row" id="product-relate">
        <div class="col-12" id="product-relate"></div>
    </div>
    @*<h3 class="my-4">Related Projects<br></h3>
        <div class="row">
            <div class="col-sm-6 col-md-3 mb-4"><a href="#"><img class="img-fluid" src="http://placehold.it/500x300"></a></div>
            <div class="col-sm-6 col-md-3 mb-4"><a href="#"><img class="img-fluid" src="http://placehold.it/500x300"></a></div>
            <div class="col-sm-6 col-md-3 mb-4"><a href="#"><img class="img-fluid" src="http://placehold.it/500x300"></a></div>
            <div class="col-sm-6 col-md-3 mb-4"><a href="#"><img class="img-fluid" src="http://placehold.it/500x300"></a></div>
        </div>*@
</div>
<script>
    $(".img-active").click(function () {
        $(".img-active").removeClass("active")
        $(this).addClass("active")
        $("#WarehouseId").removeAttr("disabled")
    })
    function SelectWarehoue(id)  {
        $("#WarehouseId").load("/ListProduct/SelectSize?id=" + id)
        $(".btn-disabled").removeAttr("disabled")


    }
    $("#product-relate").load("/ListProduct/ListAllProductSimilar?brandid=@Model.BrandId&type=@Model.Type")
    function BuyProduct() {
        loading(true)
        var warehouse = $("#WarehouseId").val();
        if (Number.isInteger(parseInt(warehouse))) {
            $.ajax({
                url: "/ListProduct/OrderProduct?id=" + warehouse,
                success: function (rs) {
                    loading(false)
                    if (rs) {
                        window.location.href = '/Cart/Index'
                    }
                }
            });
        } else {
            loading(false)
            alert("Lỗi")
        }
    }
    async function AddCart() {
        loading(true)
        var warehouse = $("#WarehouseId").val();
        if (Number.isInteger(parseInt(warehouse))) {
            $.ajax({
                url: "/ListProduct/OrderProduct?id=" + warehouse,
                success: function (data, status, xhr) {
                    loading(false)
                    if (xhr.status == 201) {
                        alert("Thêm vào giỏ thành công")
                    } else {
                        alert("Lỗi")
                    }
                },
            });
        }
        else {
            alert("Lỗi")
        }

    }
</script>