@{
    Layout = null;
}
@model Website.Areas.Admin.Models.DashboardModel
<!-- Earnings (Monthly) Card Example -->
<div class="col-12 mb-4">
    <h5>Kho hàng</h5>
</div>
@for (int i = 0; i < Model.lable.Count; i++)
{
    <div class="col-xl-4 col-md-4 mb-4">
        <div class="card border-left-warning shadow h-100 py-2" style="border-left-color:@Model.color[i] !important">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1" style="color:@Model.color[i] !important">
                            @Model.lable[i]
                        </div>
                        <div class="mb-0 row text-gray-800">
                            <div class="col-12">
                                <ul class="list-group">
                                    @foreach (var item in @Model.result[i] as List<LibData.Product>)
                                    {
                                        if (i != 2)
                                        {
                                            <li class="list-group-item">
                                                @item.Name - Đã bán : @item.ProductImgs.Where(x => (x.IsDelete == null || x.IsDelete == 0)).Sum(m => m.Warehouses.Sum(x => x.Sold)) - Còn lại @item.ProductImgs.Where(x => (x.IsDelete == null || x.IsDelete == 0)).Sum(m => m.Warehouses.Sum(x => x.Amount))
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="list-group-item">
                                                @item.Name
                                            </li>
                                        }


                                    }
                                </ul>
                            </div>
                        </div>
                        @*<div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>

}
