@model LibData.Import
@{
    Layout = null;
}
<form id="form-addimport">
    <div class="modal-header">
        <h6 class="modal-title">Thông tin nhập hàng</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <div>
            <input type="hidden"  name="productid" value="@ViewBag.productid" id="productid"/>
            <input type="hidden" name="Id" value="@Model.Id" id="Id" />
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-6">
                    <label>Sản phẩm<span class="text-danger">*</span></label>

                    <select class="form-control chosen-select" name="productimgid" id="productimgid" @(ViewBag.productid>0?"onchange='SelectSize()'":"")>
                        @if (ViewBag.productimgid != -1)
                        {
                            foreach (var item in ViewBag.ProductImg as List<LibData.ProductImg>)
                            {
                                <option value="@item.Id" @(item.Id == ViewBag.productimgid ? "selected" : "")>@item.Product.Name - @item.Color </option>
                            }
                        }
                        else
                        {
                            foreach (var item in ViewBag.ProductImg as List<LibData.ProductImg>)
                            {
                                <option value="@item.Id">@item.Product.Name - @item.Color </option>
                            }
                        }
                    </select>
                </div>
                <div class="col-6" id="size-select">
                    <label>Kích cỡ<span class="text-danger">*</span></label>
                    <select class="form-control chosen-select" name="SizeId" id="SizeId">
     
                            @foreach (var item in ViewBag.Size as List<LibData.Size>)
                            {
                                <option value="@item.Id" @(item.Id == Model.Warehouse.SizeId ? "selected" : "")> VN : @item.VN - US : @item.US - UK : @item.UK</option>
                            }

                    </select>
                </div>
            </div>

        </div>
        <div class="form-group">

            <label>Tên nhà cung cấp<span class="text-danger">*</span></label>
            <select class="form-control chosen-select" name="ImportUnitId" id="ImportUnitId">
                @foreach (var item in ViewBag.ImportUnit as List<LibData.ImportUnit>)
                {

                    <option value="@item.Id" @(item.Id == Model.ImportUnitId ? "selected" : "")>@item.Name - @item.Phone</option>
                }
            </select>
        </div>
        <div class="form-group">

            <label>Số lượng<span class="text-danger">*</span></label>
            <input type="number" class="form-control" name="Amount" id="Amount" value="@Model.Amount" />
            @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label>Giá<span class="text-danger">*</span></label>
            <input type="number" class="form-control" name="Price" id="Price" value="@Model.Price" />
            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
        </div>
        @Html.ValidationMessage("error", new { @class = "text-danger" })
        <div class="modal-footer">
            <button type="button" onclick="sumbitImport()" class="btn btn-primary">Lưu</button>
            <button type="button" data-dismiss="modal" class="btn btn-light">Đóng</button>
        </div>
    </div><!-- modal-body -->
    <script>
        $(".chosen-select").chosen()
        SelectSize();
        async function SelectSize() {
            var productimgid = $("#productimgid").val()
        //var district = $("#DistrictId").val()
            await $("#size-select").load("/Extend/SelectSize?productimgid=" + productimgid + "&selecteds=@Model.Warehouse.SizeId" )

    }
        //$("#WarehouseId").select2();
        function sumbitImport() {
            console.log(1)
            var notify = ""
            var productimgid = $("#productimgid").val()
                    if (@Model.Id== 0) {
                        notify = "Nhập kho thành công"

                    } else {
                        notify = "Sửa thông tin nhập kho thành công"
                    }
                    var $form = $("#form-addimport");
                    $.ajax({
                        type: "POST",
                        url: "/Import/AddImport",
                        data: $form.serialize(),
                        success: async function (data, status, xhr) {
                            var statusCode = xhr.getResponseHeader("statusCode");
                            if (statusCode == '401') {
                                window.location.replace("/login");
                            }
                            if (xhr.status == 201) {
                                if (window.location.pathname == '/Product/AddProduct') {
                                    ListWarehouse(productimgid)
                                }
                                 //loadListImport()

                                $("#modal-form-md").modal("hide");
                                Swal.fire({
                                    icon: 'success',
                                    title: notify,
                                    showConfirmButton: false,
                                    timer: 1500
                                })
                            }
                          /*  await $("#form-addimport").html($(data).filter("#form-addimport").html());*/
                        },
                    });
        }
    </script>
</form>
